<mat-toolbar class="toolbar-wrapper" color="primary" >
  <span class="title">Angular Lecture 1</span>
  <div class="filters">
    <mat-form-field appearance="fill" color="accent" >
      <mat-label>Sort By</mat-label>
      <mat-select class="sort" [(ngModel)]="sortBy">
          <mat-option value="firstName">First Name</mat-option>
          <mat-option value="lastName">Last Name</mat-option>
        </mat-select>
      </mat-form-field >
    <button mat-flat-button class="select-all" (click)="selectAll()">Select all</button>
    <button mat-flat-button class="delete"
                 (click)="deleteSelected()"
                 [disabled]="!hasCheckedUsers()">Delete
    </button>
  </div>
  <mat-form-field appearance="fill" color="accent" class="search">
    <mat-label>Search</mat-label>
    <input matInput name="username"  #inputSearch [(ngModel)]="searchTerm" type="text" placeholder="Search...">
  </mat-form-field>
</mat-toolbar>

<div class="users-list" #userCards>
  <mat-card *ngFor="let user of users | orderBy: sortBy | filterByName: searchTerm" class="user-card">
    <mat-card-header>
      <img mat-card-avatar class="user-avatar" src='{{user.avatar}}' alt="{{ user.firstName }}">
      <mat-checkbox [checked]="user.checked" (change)="user.checked = $event.checked" class="checkbox"></mat-checkbox>
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>{{ user.firstName }} </mat-card-title>
      <mat-card-subtitle>{{ user.lastName }}</mat-card-subtitle>
      <div class="user-info">
        <p>{{ user.phone }}</p>
        <p> {{ user.email }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>