<button mat-icon-button style="float: right; margin: 5px;" matDialogClose >
    <mat-icon>close</mat-icon>
</button>
<mat-dialog-content [formGroup] = "userCreationForm">
    <header>
        <h1>Create user</h1>
    </header>
    <p><mat-form-field>
        <input matInput placeholder="First name" formControlName="firstName">
        <mat-icon matSuffix>face</mat-icon>
        <mat-error *ngIf="userCreationForm.get('firstName')?.invalid || userCreationForm.get('firstName')?.touched">
            <span *ngIf="userCreationForm.get('firstName')?.hasError('required')">First name is required.</span>
            <span *ngIf="userCreationForm.get('firstName')?.hasError('minlength')">Must be at least 3 characters long.</span>
        </mat-error>
    </mat-form-field>
    <p><mat-form-field>
        <input matInput placeholder="Last name" formControlName="lastName">
        <mat-icon matSuffix>person</mat-icon>
        <mat-error *ngIf="userCreationForm.get('lastName')?.invalid || userCreationForm.get('firstName')?.touched">
            <span *ngIf="userCreationForm.get('lastName')?.hasError('required')">Last name is required.</span>
            <span *ngIf="userCreationForm.get('lastName')?.hasError('minlength')">Must be at least 3 characters long.</span>
        </mat-error>
    </mat-form-field>
    <p><mat-form-field>
        <input matInput placeholder="Email" formControlName="email">
        <mat-icon matSuffix>drafts</mat-icon>
        <mat-error *ngIf="userCreationForm.get('email')?.invalid && userCreationForm.get('email')?.touched">
            <span *ngIf="userCreationForm.get('email')?.hasError('required')">Email is required.</span>
            <span *ngIf="userCreationForm.get('email')?.hasError('email')">Please enter a valid email address.</span>
        </mat-error>
    </mat-form-field>
    <p><mat-form-field>
        <input matInput placeholder="Phone number" formControlName="phoneNumber">
        <mat-icon matSuffix>call</mat-icon>
        <mat-error *ngIf="userCreationForm.get('phoneNumber')?.invalid && userCreationForm.get('phoneNumber')?.touched">
            <span *ngIf="userCreationForm.get('phoneNumber')?.hasError('required')">Phone number is required.</span>
            <span *ngIf="userCreationForm.get('phoneNumber')?.hasError('pattern')">Please enter a valid phone number (10 digits).</span>
        </mat-error>
    </mat-form-field>
    </p>
</mat-dialog-content>
<mat-dialog-actions align="center" style="margin-bottom: 10px;">
    <button mat-raised-button color="primary" (click)="onSaveUser()" >Save</button>
</mat-dialog-actions>
