<mat-toolbar color="primary">
  <span>Angular Lecture 1</span>
  <span class="spacer"></span>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput  name="username" #username type="text" placeholder="Search...">
  </mat-form-field>
  <button mat-icon-button color="primary" (click)="applyFilter(username.value)">Search</button>

  <mat-form-field>
    <mat-label>Sort By</mat-label>
    <mat-select [(value)]="sortField" (selectionChange)="sort()">
      <mat-option value="firstname">First Name</mat-option>
      <mat-option value="lastname">Last Name</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button (click)="onSelectAll()">
    <mat-icon>select_all</mat-icon>
  </button>
  <button mat-icon-button (click)="onDeleteSelected()" [disabled]="selectedUsers.length === 0">
    <mat-icon>delete</mat-icon>
  </button>
</mat-toolbar>
